.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c5baf;
    padding: 1px 30px;
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links li a:hover {
    color: #fafa07;
  }
  