

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
}

.user-button{
  font-size: 18px;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.user-button:hover{
  background-color: #9ba6d1;
}